

	<div class="container">

		<div class="accordion" id="my-accordion">
			<div class="accordion-group">
				<div class="accordion-heading">
					<a href="#collapse-1" data-toggle="collapse" data-parent="#my-accordion" class="accordion-toggle">Collapsible Item 1</a>
				</div>
				<div class="accordion-body collapse in" id="collapse-1">
					<div class="accordion-inner">
						Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
					</div>
				</div>
			</div>

			<div class="accordion-group">
				<div class="accordion-heading">
					<a href="#collapse-2" data-toggle="collapse" data-parent="#my-accordion" class="accordion-toggle">Collapsible Item 2</a>
				</div>
				<div class="accordion-body collapse" id="collapse-2">
					<div class="accordion-inner">
						Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
					</div>
				</div>
			</div>

			<div class="accordion-group">
				<div class="accordion-heading">
					<a href="#collapse-3" data-toggle="collapse" data-parent="#my-accordion" class="accordion-toggle">Collapsible Item 3</a>
				</div>
				<div class="accordion-body collapse" id="collapse-3">
					<div class="accordion-inner">
						Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
					</div>
				</div>
			</div>
		</div>
		
		<hr />
		
		<button class="btn btn-primary" data-toggle="collapse" data-target="#demo">Toggle Demo</button>
		
		<div id="demo" class="collapse in">
			Some content.
		</div>
		
		<hr />
		
		<div class="carousel slide" id="my-carousel">
			<ol class="carousel-indicators">
				<li data-target="#my-carousel" data-slide-to="0" class="active"></li>
				<li data-target="#my-carousel" data-slide-to="1"></li>
				<li data-target="#my-carousel" data-slide-to="2"></li>
				<li data-target="#my-carousel" data-slide-to="3"></li>
			</ol>
		
			<div class="carousel-inner">
				<div class="item active">
					<img src="http://lorempixel.com/1170/500" alt="Demo" />
					<div class="carousel-caption">
						<h4>Some title</h4>
						<p>Some description.</p>
					</div>
				</div>
				<div class="item">
					<img src="http://lorempixel.com/1170/500/people" alt="Demo" />
				</div>
				<div class="item">
					<img src="http://lorempixel.com/1170/500/city" alt="Demo" />
				</div>
				<div class="item">
					<img src="http://lorempixel.com/1170/500/sports" alt="Demo" />
				</div>
			</div>
			
			<a href="#my-carousel" class="carousel-control left" data-slide="prev">&lsaquo;</a>
			<a href="#my-carousel" class="carousel-control right" data-slide="next">&rsaquo;</a>
		</div>
		
	</div>

