
	<div class="container">

		<ul class="breadcrumb">
			<li><a href="">Link 1</a> <span class="divider">/</span></li>
			<li><a href="">Link 2</a> <span class="divider">/</span></li>
			<li class="active">Link 3</li>
		</ul>
		
		<hr />
		
		<div class="pagination pagination-large pagination-centered">
			<ul>
				<li class="active"><a href="">1</a></li>
				<li class="disabled"><a href="">2</a></li>
				<li><a href="">3</a></li>
				<li><a href="">4</a></li>
				<li><a href="">5</a></li>
			</ul>
		</div>

		<div class="pagination pagination-right">
			<ul>
				<li class="active"><a href="">1</a></li>
				<li class="disabled"><a href="">2</a></li>
				<li><a href="">3</a></li>
				<li><a href="">4</a></li>
				<li><a href="">5</a></li>
			</ul>
		</div>

		<div class="pagination pagination-small">
			<ul>
				<li class="active"><a href="">1</a></li>
				<li class="disabled"><a href="">2</a></li>
				<li><a href="">3</a></li>
				<li><a href="">4</a></li>
				<li><a href="">5</a></li>
			</ul>
		</div>

		<div class="pagination pagination-mini">
			<ul>
				<li class="active"><a href="">1</a></li>
				<li class="disabled"><a href="">2</a></li>
				<li><a href="">3</a></li>
				<li><a href="">4</a></li>
				<li><a href="">5</a></li>
			</ul>
		</div>
		
		<hr />
		
		<ul class="pager">
			<li class="previous disabled"><a href="">Prev</a></li>
			<li class="next"><a href="">Next</a></li>
		</ul>
	
	</div>
		
