
	<div class="container">
		<h1>Heading 1</h1>
		<h2>Heading 2</h2>
		<h3>Heading 3</h3>
		<h4>Heading 4</h4>
		<h5>Heading 5</h5>
		<h6>Heading 6</h6>
		
		<p class="text-left">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
		<p class="text-center">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
		<p class="text-right">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
		
		<p class="muted">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
		<p class="text-warning">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
		<p class="text-error">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
		<p class="text-info">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
		<p class="text-success">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
		
		<hr />
		
		<blockquote>
			<p>This is a nice quote.</p>
			<small>John Doe from <cite title="Source Title">Great Source</cite></small>
		</blockquote>
		
		<hr />
		
		<ul class="unstyled">
			<li>Item 1</li>
			<li>Item 2</li>
			<li>
				Item 3
				<ul>
					<li>Item 1</li>
					<li>Item 2</li>
				</ul>
			</li>
		</ul>

		<ol class="inline">
			<li>Item 1</li>
			<li>Item 2</li>
		</ol>
		
		<hr />
		
		<dl class="dl-horizontal">
			<dt>Term</dt>
			<dd>Description</dd>
			<dt>Term</dt>
			<dd>Description</dd>
		</dl>
	</div>
		
