
	<div class="container">

		<div class="well well-large">Bigger well.</div>
		<div class="well">Some text.</div>
		<div class="well well-small">Smaller well.</div>
		
		<hr />
		
		<ul class="thumbnails">
			<li><a href="" class="thumbnail"><img src="http://lorempixel.com/200/200/" alt="" /></a></li>
			<li><a href="" class="thumbnail"><img src="http://lorempixel.com/200/200/" alt="" /></a></li>
			<li><a href="" class="thumbnail"><img src="http://lorempixel.com/200/200/" alt="" /></a></li>
			<li><a href="" class="thumbnail"><img src="http://lorempixel.com/200/200/" alt="" /></a></li>
		</ul>
		
		<ul class="thumbnails">
			<li class="span3">
				<div class="thumbnail">
					<h3>Title</h3>
					<p>Some text</p>
				</div>
			</li>
			<li class="span3">
				<div class="thumbnail">
					<h3>Title</h3>
					<p>Some text</p>
				</div>
			</li>
			<li class="span3">
				<div class="thumbnail">
					<h3>Title</h3>
					<p>Some text</p>
				</div>
			</li>
			<li class="span3">
				<div class="thumbnail">
					<h3>Title</h3>
					<p>Some text</p>
				</div>
			</li>
		</ul>
	
	</div>
		
