
	<div class="container">

		<div class="tabbable">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#tab1" data-toggle="tab">Link 1</a></li>
				<li><a href="#tab2" data-toggle="tab">Link 2</a></li>
				<li><a href="#tab3" data-toggle="tab">Link 3</a></li>
				<li><a href="#tab4" data-toggle="tab">Link 4</a></li>
				<li class="dropdown">
					<a href="" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
					
					<ul class="dropdown-menu">
						<li><a href="" tabindex="-1">Sublink 1</a></li>
						<li><a href="" tabindex="-1">Sublink 1</a></li>
						<li><a href="" tabindex="-1">Sublink 1</a></li>
					</ul>
				</li>
			</ul>
			
			<div class="tab-content">
				<div class="tab-pane active" id="tab1">
					<p>Tab 1 Content</p>
				</div>
				<div class="tab-pane" id="tab2">
					<p>Tab 2 Content</p>
				</div>
				<div class="tab-pane" id="tab3">
					<p>Tab 3 Content</p>
				</div>
				<div class="tab-pane" id="tab4">
					<p>Tab 4 Content</p>
				</div>
			</div>
		</div>
		
		<hr />
		
		<ul class="nav nav-pills">
			<li class="active"><a href="">Link 1</a></li>
			<li><a href="">Link 2</a></li>
			<li><a href="">Link 3</a></li>
			<li><a href="">Link 4</a></li>
			<li><a href="">Link 5</a></li>
		</ul>
		
		<hr />
		
		<ul class="nav nav-list">
			<li class="nav-header">Header 1</li>
			<li class="active"><a href="">Link 1</a></li>
			<li><a href="">Link 2</a></li>
			<li class="nav-header">Header 2</li>
			<li class="disabled"><a href="">Link 3</a></li>
			<li><a href="">Link 4</a></li>
			<li class="divider"></li>
			<li>
				<a href="">Link 5</a>
				<ul class="nav nav-list">
					<li><a href="">Sublink 1</a></li>
					<li><a href="">Sublink 1</a></li>
				</ul>
			</li>
		</ul>
		
	
