
	<div class="container">

		<div class="alert alert-block alert-error">
			<a href="" class="close" data-dismiss="alert">&times;</a>
			Some text.
		</div>
		<div class="alert alert-block alert-success">Some text.</div>
		<div class="alert alert-block alert-info">Some text.</div>
		
		<hr />
		
		<div class="progress">
			<div class="bar bar-success" style="width: 20%"></div>
			<div class="bar bar-info" style="width: 34%"></div>
			<div class="bar bar-danger" style="width: 10%"></div>
		</div>

		<div class="progress progress-striped active progress-info">
			<div class="bar" style="width: 60%"></div>
		</div>

		<div class="progress progress-striped active progress-warning">
			<div class="bar" style="width: 60%"></div>
		</div>

		<div class="progress progress-striped active progress-danger">
			<div class="bar" style="width: 60%"></div>
		</div>
	
	</div>
		
