

	<div class="container">

		<a href="#my-modal" class="btn" id="my-button">Show Modal Window</a>

		<div class="modal hide fade" id="my-modal">
			<div class="modal-header">
				<button class="close" data-dismiss="modal">&times;</button>
				<h3>The title</h3>
			</div>
			
			<div class="modal-body">
				<p>The modal body.</p>
			</div>
			
			<div class="modal-footer">
				<a href="" class="btn btn-primary">Close</a>
			</div>
		</div>
	
	</div>
		
