
	<div class="container">
		
		<div class="dropdown">
			<a href="" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
			
			<ul class="dropdown-menu">
				<li><a href="" tabindex="-1">Action 1</a></li>
				<li class="dropdown-submenu">
					<a href="" tabindex="-1">Action 2</a>
					<ul class="dropdown-menu">
						<li><a href="" tabindex="-1">Submenu 1</a></li>
						<li><a href="" tabindex="-1">Submenu 2</a></li>
					</ul>
				</li>
				<li class="divider"></li>
				<li class="disabled"><a href="" tabindex="-1">Action 3</a></li>
			</ul>
		</div>
				
	</div>
