
	<div class="container">
		<table class="table table-bordered table-condensed">
			<caption>This is a default table</caption>
			<thead>
				<tr>
					<th>#</th>
					<th>First Name</th>
					<th>Last Name</th>
				</tr>
			</thead>
			<tbody>
				<tr class="success">
					<td>1</td>
					<td>Adi</td>
					<td>Purdila</td>
				</tr>
				<tr class="error">
					<td>2</td>
					<td>John</td>
					<td>Smith</td>
				</tr>
				<tr class="warning">
					<td>1</td>
					<td>Adi</td>
					<td>Purdila</td>
				</tr>
				<tr class="info">
					<td>1</td>
					<td>Adi</td>
					<td>Purdila</td>
				</tr>
			</tbody>
		</table>
	</div>
