


		<div class="navbar navbar-fixed-top navbar-inverse">
			<div class="navbar-inner">
				<div class="container">
					<a href="" class="brand">Project Name</a>
					
					<ul class="nav">
						<li class="active"><a href="">Link 1</a></li>
						<li><a href="">Link 2</a></li>
						<li><a href="">Link 3</a></li>
						<li class="divider-vertical"></li>
						<li><a href="">Link 4</a></li>
						<li class="divider-vertical"></li>
					</ul>
					
					<form action="" class="navbar-search pull-right">
						<input type="text" placeholder="Search" class="search-query" />
					</form>		
					
					<p class="navbar-text">This is a text.</p>	
					
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">Show Content</a>
					
					<div class="collapse nav-collapse">
						<p class="navbar-text">This will be hidden.</p>
					</div>
				</div>	
			</div>
		</div>
	

		
