
	<div class="container">

		<a href="#" data-toggle="tooltip" data-placement="right" data-animation="false" id="basic-tooltip" data-title="New title">Hover over me</a>

		<hr />
		
		<a href="#" class="btn btn-primary" data-toggle="popover" title="First popover" data-content="This is the popover content." data-placement="top">Click me</a>

	</div>

