

	<div class="container">
		
		<form>
			<label for="simple-input">Simple Text Input</label>
			<input type="email" id="simple-input" name="simple-input" placeholder="Type something..." class="input-block-level" required />
			<span class="help-block">Just some description.</span>
			
			<hr />
			
			<label for="simple-textarea">Simple Textarea</label>
			<textarea name="simple-textarea" id="simple-textarea" cols="30" rows="10"></textarea>
			
			<hr />
			
			<label class="checkbox inline"><input type="checkbox" /> Simple Checkbox</label>
			<label class="checkbox inline"><input type="checkbox" /> Simple Checkbox</label>
			<label class="checkbox inline"><input type="checkbox" /> Simple Checkbox</label>

			<label class="radio inline"><input type="radio" /> Simple Radio</label>
			<label class="radio inline"><input type="radio" /> Simple Radio</label>
			<label class="radio inline"><input type="radio" /> Simple Radio</label>
			
			<hr />
			
			<input type="text" class="input-mini" />
			<input type="text" class="input-small" />
			<input type="text" class="input-medium" />
			<input type="text" class="input-large" />
			<input type="text" class="input-xlarge" />
			<input type="text" class="input-xxlarge" />
			
			<hr />
			
			<div class="controls controls-row">
				<input type="text" class="span2" />
				<input type="text" class="span3" />
				<input type="text" class="span7" disabled />
			</div>
			
			<hr />
			
			<div class="control-group success">
				<label for="input-warning" class="control-label">Input with warning</label>
				<div class="controls">
					<input type="text" id="input-warning" />
					<span class="help-block">This is a helper text</span>
				</div>
			</div>
			
		</form>

	</div>
