

	<div class="container">
		
		<a href="" class="btn btn-primary">A normal button</a>
		<button class="btn">A normal button</button>
		<a href="" class="btn btn-info">Special button</a>
		<a href="" class="btn btn-success">Special button</a>
		<a href="" class="btn btn-warning">Special button</a>
		<a href="" class="btn btn-danger">Special button</a>
		<a href="" class="btn btn-inverse">Special button</a>
		<a href="" class="btn btn-link">Special button</a>
		
		<hr />
		
		<input type="text" class="btn" value="Input text" />
		<input type="submit" class="btn" value="Input submit" />
		
		<hr />
		
		<a href="" class="btn btn-info btn-large disabled">Disabled button</a>
		<button class="btn btn-info btn-large disabled" disabled>Disabled button</button>
		<a href="" class="btn btn-success btn-small btn-block">Special button</a>
		<a href="" class="btn btn-warning btn-mini">Special button</a>
		
		<hr />
		
		<img src="http://lorempixel.com/200/200/" alt="Demo" class="img-rounded" />
		<img src="http://lorempixel.com/200/200/" alt="Demo" class="img-circle" />
		<img src="http://lorempixel.com/200/200/" alt="Demo" class="img-polaroid" />
		
		<hr />
		
		<i class="icon-music"></i>
		
		<a href="" class="btn btn-primary">Music <i class="icon-music icon-white"></i></a>
		<a href="" class="btn btn-primary"><i class="icon-music icon-white"></i> Music</a>
		
	</div>
		
