<!

	<div class="container">
		
		<form>
			<div class="input-prepend input-append">
				<span class="add-on">Enter email here:</span>
				<input type="text" placeholder="A simple field" />
				<button class="btn">Search</button>
				<button class="btn">Search Two</button>
			</div>
		</form>
		
		<hr />
		
		<form class="form-inline">
			<input type="text" placeholder="Email" />			
			<input type="password" placeholder="Password" />
			
			<label class="checkbox">
				<input type="checkbox" /> Remember me
			</label>
			
			<button type="submit" class="btn">Sign In</button>
		</form>
		
		<hr />
		
		<form class="form-search">
			<input type="text" class="search-query"/>
			<button type="submit" class="btn">Search</button>
		</form>

		<hr />
		
		<form class="form-horizontal">
			<div class="control-group">
				<label class="control-label">Email</label>
				<div class="controls"><input type="text" placeholder="Email" /></div>			
			</div>

			<div class="control-group">
				<label class="control-label">Password</label>
				<div class="controls"><input type="password" placeholder="Password" /></div>			
			</div>
			
			<div class="control-group">
				<div class="controls">
					<label class="checkbox">
						<input type="checkbox" /> Remember me
					</label>
					
					<button type="submit" class="btn">Sign In</button>
				</div>
			</div>
		</form>
	</div>
