
	<div class="row-fluid">
		<div class="span8">span8</div>
		<div class="span4">span4</div>
	</div>
	
	<hr />
	
	<div class="row-fluid">
		<div class="span2">span2</div>
		<div class="span6 offset4">span6</div>
	</div>
	
	<hr />
	
	<div class="row-fluid">
		<div class="span8">
			Level 1 col
			<div class="row-fluid">
				<div class="span2 dark">Level 2 col</div>
				<div class="span10 dark">Level 2 col</div>			
			</div>
		</div>
	</div>
