

	<div class="container">

		<span class="label">Default</span>
		<span class="label label-success">Success</span>
		<span class="label label-warning">Warning</span>
		<span class="label label-important">Important</span>
		<span class="label label-info">Info</span>
		<span class="label label-inverse">Inverse</span>
		
		<hr />
		
		<span class="badge">1</span>
		<span class="badge badge-success">1</span>
		<span class="badge badge-warning">2</span>
		<span class="badge badge-important">3</span>
		<span class="badge badge-info">4</span>
		<span class="badge badge-inverse">5</span>
		
		<hr />
		
		<div class="hero-unit">
			<h1>Big title here</h1>
			<p>This is a tagline.</p>
		</div>
		
		<div class="page-header">
			<h1>This is a page header. <small>This is a smaller heading.</small></h1>
		</div>
	
	</div>
		
