

	<div class="container">

		<div class="btn-toolbar">
			<div class="btn-group" data-toggle="buttons-checkbox">
				<button class="btn">Button</button>
				<button class="btn">Button</button>
				<button class="btn">Button</button>
			</div>
	
			<div class="btn-group" data-toggle="buttons-radio">
				<button class="btn">Button</button>
				<button class="btn">Button</button>
				<button class="btn">Button</button>
			</div>
		</div>
		
		<hr />
		
		<button class="btn" type="button" id="loading-button" data-loading-text="Loading...">Loading State</button>
		
		<hr />
		
		<button class="btn" data-toggle="button">Toggle Button</button>
		
		<hr />
		
		
		<div class="btn-group dropup">
			<button class="btn btn-large">Dropdown Button</button>
			<button class="btn dropdown-toggle btn-large" data-toggle="dropdown"><span class="caret"></span></button>
			
			<ul class="dropdown-menu">
				<li><a href="">Link</a></li>
				<li><a href="">Link</a></li>
				<li><a href="">Link</a></li>
			</ul>
		</div>
				
	</div>
		
