<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">

    <title>Syngular</title>

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="{{ asset('bundles/frontend/css/app.css') }}"/>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ asset('bundles/frontend/lib/bootstrap/css/bootstrap.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/frontend/lib/bootstrap/css/bootstrap-responsive.css') }}" />

    {#<!-- Latest compiled and minified CSS -->#}
    {#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">#}
    {#<!-- Optional theme -->#}
    {#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">#}
    {#<!-- Latest compiled and minified JavaScript -->#}
    {#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>#}


</head>
<body>
<ul class="menu">
    <li><a href="#/login">login</a></li>
    <li><a href="#/view1">view1</a></li>
    <li><a href="#/view2">view2</a></li>
    <li><a href="#/tables">tables</a></li>
    <li><a href="#/buttons">buttons</a></li>
    <li><a href="#/images">images</a></li>
    <li><a href="#/icons">icons</a></li>
    <li><a href="#/forms">forms</a></li>

    <li><a href="#/lesson2">lesson2</a></li>
    <li><a href="#/lesson3">lesson3</a></li>
    <li><a href="#/lesson4">lesson4</a></li>
    <li><a href="#/lesson5">lesson5</a></li>
    <li><a href="#/lesson6">lesson6</a></li>
    <li><a href="#/lesson7">lesson7</a></li>
    <li><a href="#/lesson8">lesson8</a></li>
    <li><a href="#/lesson9">lesson9</a></li>
    <li><a href="#/lesson10">lesson10</a></li>
    <li><a href="#/lesson11">lesson11</a></li>
    <li><a href="#/lesson12">lesson12</a></li>
    <li><a href="#/lesson13">lesson13</a></li>
    <li><a href="#/lesson14">lesson14</a></li>
    <li><a href="#/lesson15">lesson15</a></li>
    <li><a href="#/lesson16">lesson16</a></li>
    <li><a href="#/lesson17">lesson17</a></li>
    <li><a href="#/lesson18">lesson18</a></li>
    <li><a href="#/lesson19">lesson19</a></li>
    <li><a href="#/lesson20">lesson20</a></li>
</ul>

<div ng-view></div>

<div>Angular seed app: v<span app-version></span></div>

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
-->

<script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha1.js"></script>
<script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha512.js"></script>
<script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/md5.js"></script>
<script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/components/enc-base64-min.js"></script>
<script src="{{ asset('bundles/frontend/lib/angular/angular.js') }}"></script>
<script src="{{ asset('bundles/frontend/lib/angular/angular-cookies.js') }}"></script>
<script src="{{ asset('bundles/frontend/lib/angular/angular-resource.js') }}"></script>
<script src="{{ asset('bundles/frontend/js/app.js') }}"></script>
<script src="{{ asset('bundles/frontend/js/services.js') }}"></script>
<script src="{{ asset('bundles/frontend/js/controllers.js') }}"></script>
<script src="{{ asset('bundles/frontend/js/filters.js') }}"></script>
<script src="{{ asset('bundles/frontend/js/directives.js') }}"></script>

{#<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>#}
<script src="{{ asset('bundles/frontend/lib/bootstrap/js/bootstrap.js') }}"></script>
<script src="{{ asset('bundles/frontend/lib/angular-bootstrap/ui-bootstrap-tpls-0.12.1.min.js') }}"></script>


{#<script src="{{ asset('bundles/frontend/lib/angular-bootstrap/ui-bootstrap.js') }}"></script>#}
{#<script src="{{ asset('bundles/frontend/lib/angular-bootstrap/ui-bootstrap.min.js') }}"></script>#}
{#<script src="{{ asset('bundles/frontend/lib/angular-bootstrap/ui-bootstrap-tpls.js') }}"></script>#}
{#<script src="{{ asset('bundles/frontend/lib/angular-bootstrap/ui-bootstrap-tpls.min.js') }}"></script>#}
{#<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>#}

{#<script src="{{ asset('bundles/frontend/lib/bootstrap/js/bootstrap.js') }}"></script>#}
{#<script src="{{ asset('bundles/frontend/lib/bootstrap/js/bootstrap.min.js') }}"></script>#}
{#<script src="{{ asset('bundles/frontend/lib/bootstrap/js/npm.js') }}"></script>#}
{#<script src="bundles/frontend/lib/bootstrap/css/bootstrap.css"></script>#}
{#<script src="bootstrap"></script>#}
{#<script src="bootstrap"></script>#}
{#<script src="bootstrap"></script>#}
{#<script src="bootstrap"></script>#}
{#<link rel="stylesheet" href="{{ asset('bundles/frontend/lib/bootstrap/css/bootstrap.css') }}"/>#}
{#<link rel="stylesheet" href="{{ asset('bundles/frontend/lib/bootstrap/css/bootstrap.min.css') }}"/>#}
{#<link rel="stylesheet" href="{{ asset('bundles/frontend/lib/bootstrap/css/bootstrap-theme.css') }}"/>#}
{#&#123;&#35;<script src="{{ asset('bundles/frontend/lib/bootstrap/css/bootstrap.css') }}"></script>&#35;&#125;#}
{#&#123;&#35;<script src="{{ asset('bundles/frontend/lib/bootstrap/css/bootstrap.min.css') }}"></script>&#35;&#125;#}
{#&#123;&#35;<script src="{{ asset('bundles/frontend/lib/bootstrap/css/bootstrap-theme.css') }}"></script>&#35;&#125;#}
{#<script src="{{ asset('bundles/frontend/lib/bootstrap/fonts/glyphicons-halflings-regular.eot') }}"></script>#}
{#<script src="{{ asset('bundles/frontend/lib/bootstrap/fonts/glyphicons-halflings-regular.svg') }}"></script>#}
{#<script src="{{ asset('bundles/frontend/lib/bootstrap/fonts/glyphicons-halflings-regular.js') }}"></script>#}
{#<script src="{{ asset('bundles/frontend/lib/bootstrap/fonts/glyphicons-halflings-regular.ttf') }}"></script>#}
{#<script src="{{ asset('bundles/frontend/lib/bootstrap/fonts/glyphicons-halflings-regular.woff') }}"></script>#}
{#<script src="{{ asset('bundles/frontend/lib/bootstrap/fonts/glyphicons-halflings-regular.woff2') }}"></script>#}



</body>
</html>
