<p>This is the partial for login.</p>

<p ng-show="salt"><strong>{{ username }}</strong> salt is <em>{{ salt }}</em></p>
<p ng-show="secret"><strong>{{ username }}</strong> generated secret is <em>{{ secret }}</em></p>
<p ng-show="secret">You should now have access to API because your're logged in</p>

<p>Please enter a symfony valid user : </p>
<form ng-submit="getSalt()" class="form-horizontal col-sm-12">


    <div class="form-group col-sm-8">

        <!--<input type="text" ng-model="username" size="30" placeholder="admin"><br>-->
        <!--<input type="password" ng-model="password" size="30" placeholder="admin"><br>-->

        <div class="form-group">
            <label class="col-sm-2 control-label">Login:</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="username" size="20" placeholder="admin"><br>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Password:</label>

            <div class="col-sm-10">
                <input type="password" class="form-control" ng-model="password" size="30" placeholder="admin"><br>
            </div>
        </div>

        <!--<input class="" type="submit" value="login">-->
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-2">
                <button type="submit" class="btn btn-default">Sign in</button>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-2">
                <button class="btn btn-info">
                    <span class="glyphicon glyphicon-user"></span> Login
                </button>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-2">
                <button class="btn btn-primary">
                    <span class="glyphicon glyphicon-pencil"></span> Login
                </button>
            </div>
        </div>
        <!--<button class="btn btn-info">-->
        <!--<span class="glyphicon glyphicon-pencil"></span>  Login-->
        <!--</button>-->

    </div>
</form>

