<p>This is the partial for view 1. ABCD</p>

<p>Hello {{ hello.world }} !!!</p>


<h2> REST cors
    <small>request</small>
</h2>
<div ng-controller="Hello">
    <p>The ID is {{greeting.id}}</p>

    <p>The content is {{greeting.content}}</p>
</div>




